<div class="recordbook-nav">  
  <%= link_to "All", recordbook_game_path, class: "btn btn-info era-nav" %>
  <%= link_to "ESPN", recordbook_game_espn_path, class: "btn btn-info era-nav" %>
  <%= link_to "Fleaflicker", recordbook_game_fleaflicker_path, class: "btn btn-info era-nav" %>
</div>