<div class="recordbook-nav">  
  <%= link_to "All", league_recordbook_game_path(@league_id), class: "btn btn-info era-nav" %>
  <%= link_to "ESPN", league_recordbook_game_espn_path(@league_id), class: "btn btn-info era-nav" %>
  <%= link_to "Fleaflicker", league_recordbook_game_fleaflicker_path(@league_id), class: "btn btn-info era-nav" %>
</div>