<div class="recordbook-nav">  
  <%= link_to "All", recordbook_season_path, class: "btn btn-info era-nav" %>
  <%= link_to "ESPN", recordbook_season_espn_path, class: "btn btn-info era-nav" %>
  <%= link_to "Fleaflicker", recordbook_season_fleaflicker_path, class: "btn btn-info era-nav" %>
</div>