<% if current_user %>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark typewriter">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#statAppNav" aria-controls="statAppNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="statAppNav">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0 offset-md-1">
        <li class="nav-item"><%= link_to "Home", root_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Record Book", recordbook_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Logout!", logout_path, method: :delete, class: "nav-link" %></li>
      </ul>
    </div>
  </nav>
<% end %>