<div id="hero" class="mt-2 max-h-96 overflow-hidden">
  <div id="drip-image" class="opacity-20 w-full h-auto px-5 py-2 max-h-fit">
    <%= image_tag("drip.png") %>
  </div>
  <div id="hero-content" class="w-1/2 h-1/2 absolute top-1/4 left-1/4">
    <span class="underline-blue text-3xl">Chumpions Club</span>
    <p class="text-sm text-black">
      We all know Tim is the worst at fantasy football. Now we can prove it.
    </p>
    <button class="bg-gray-500 hover:bg-gray-400 text-white py-1 px-2 border-b-4 border-gray-700 hover:border-gray-500 text-lg rounded mt-2">
      Sign Up
    </button>
  </div>
</div>