.small-record-tables {
  overflow: hidden;
}

.small-record-table-left {
  float: left;
  width: 50%;
}

.small-record-table-right {
  float: right;
  width: 50%;
}

.recordbook-nav {
  margin: 20px 0px;
}

.era-nav {
  margin-right: 15px; 
}