<table class="table col-md-10 col-sm-12">
  <thead class="thead-dark typewriter">
    <th>Name</th>
    <th>Win Pct</th>
  </thead>
  <% @members.each do |member| %>
    <tr class="typewriter">
      <td><%= link_to(member.full_name, league_member_path(@league_id, member.id)) %></td>
      <td><%= member.win_percentage.round(4) %></td>
    </tr>
  <% end %>
</table>